<div *ngIf="!loading; else loadingTpl" class="p-4 max-w-xl mx-auto">

    <h2 class="text-2xl font-semibold mb-4">Tasks</h2>

    <!-- Criar tarefa -->
    <div class="flex gap-2 mb-4">
        <input pInputText [(ngModel)]="newTask" placeholder="Nova tarefa" class="flex-1" />
        <button pButton label="Criar" icon="pi pi-plus" (click)="createTask()"></button>
    </div>
    
    <button
    pButton
    label="Todas"
    [class.p-button-secondary]="filter !== 'all'"
    [class.p-button-primary]="filter === 'all'"
    (click)="setFilter('all')">
    </button>

    <button
    pButton
    label="Concluídas"
    [class.p-button-secondary]="filter !== 'completed'"
    [class.p-button-primary]="filter === 'completed'"
    (click)="setFilter('completed')">
    </button>

    <button
    pButton
    label="Pendentes"
    [class.p-button-secondary]="filter !== 'pending'"
    [class.p-button-primary]="filter === 'pending'"
    (click)="setFilter('pending')">
    </button>

    <div class="flex justify-between items-center gap-2 mb-4">
        <div class="text-sm text-gray-600">
            Página {{ page }} de {{ lastPage }} — {{ total }} tarefas
        </div>
        <div class="flex gap-2">
            <button pButton label="Anterior" icon="pi pi-angle-left" [disabled]="page === 1" (click)="prevPage()"></button>
            <button pButton label="Próxima" icon="pi pi-angle-right" iconPos="right" [disabled]="page === lastPage" (click)="nextPage()"></button>
        </div>
    </div>

    <!-- Lista -->
    <div *ngIf="tasks$ | async as tasks">

        <!-- Empty state -->
        <div *ngIf="tasks.length === 0" class="text-center text-gray-500 mt-4">
            Nenhuma tarefa encontrada
        </div>

        <!-- Tasks -->
        <div class="flex flex-col gap-3">
            <p-card *ngFor="let task of tasks; trackBy: trackByTaskId">

                <div class="flex justify-between items-center">

                    <!-- esquerda -->
                    <div class="flex items-center gap-2">
                        <p-checkbox [binary]="true" [ngModel]="task.completed" (onChange)="toggleTask(task)">
                        </p-checkbox>

                        <span [class.line-through]="task.completed" class="cursor-pointer">
                            {{ task.title }}
                        </span>
                    </div>

                    <!-- direita -->
                    <button pButton icon="pi pi-trash" severity="danger" size="small" (click)="deleteTask(task)"
                        class="ml-2"></button>

                </div>

            </p-card>
        </div>

    </div>

</div>

<ng-template #loadingTpl>
  <div class="flex flex-col gap-3">
    <p-card *ngFor="let i of [1,2,3,4]">
      <p-skeleton width="60%" height="1.5rem"></p-skeleton>
    </p-card>
  </div>
</ng-template>